<!DOCTYPE html>
<html>

<head>
    <title>Campus Placement System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <nav>
    <h2>Advanced Campus Placement System</h2>
    <div>
    <button>Login</button>
    <button>Register</button>
    </div>
    </nav>
    <selection class="hero">
    <h1>Welcome to Advanced Campus Placement System</h1>
    <p>
    Helping students connect with companies and placement opportunities.
    </p>
    <button class="hero-btn">Get Started</button>
    </section>
</body>

</html>