<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="login-container">

        <h1>Student Login</h1>
        <h3>{{ message }}</h3>

        <form method="POST">

            <input type="email" name="email" placeholder="Enter Email">

            <input type="password" name="password" placeholder="Enter Password">

            <button type="submit">Login</button>

        </form>

    </div>

</body>

</html>