<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="login-container"></div>

<h1>Student Register</h1>
<h3>{{ message }}</h3>

<form method="POST">

    <input type="text" name="name" placeholder="Enter Name">

    <input type="email" name="email" placeholder="Enter Email">

    <input type="password" name="password" placeholder="Enter Password">

    <button type="submit">Register</button>

</form>

</div>

</body>
</html>